<div class="topic-index-wrapper">
  <div class="container">
    <% #binding.pry %>
    <% @comments.each do |c| %>
    <div class="comment-text">
      <%= c.user.name %>
      <%= c.content %>
    </div>
    <% end %>
    <% #binding.pry %>

  </div>
</div>
